* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style:none;
}

a {
	text-decoration: none;
	color: #F8EF02;
}

.main {
	width: 80%;
	height: 600px;
	/*background-color: blue;*/
	padding: 1%;
	display: flex;
	margin: auto;
	/*background:center/30% no-repeat url("../img/personagens/SAMURAI.png");*/
}

.main .direita .cyber-razor-top {
	width: 100%;
}

.main .direita .cyber-razor-bottom {
	margin-top: -6px;
	width: 100%;
}

.main .esquerda {
	display: inline-block;
	width: 15%;
	height: 100%;
	/*background-color: black;*/
}

.main .direita {
	margin-left: 1%;
	display: inline-block;
	width: 85%;
	height: 100%;
	/*background-color: gray;*/
}

.main .direita .corpo {
	height: 90%;
	width: 100%;
	/*background-color: rgba(51, 51, 51, 0.8);*/
	margin: auto;
	overflow-y: scroll;

}

.cyber-button-small {
	margin-bottom: 5%;
	width: 100%;
}

.main .esquerda .logo img{
	width: 100%;
	margin-top: 25%;
	margin-bottom: 10%;
}

.musica {
	width: 20%;
	/*background-color: black;*/
	margin: auto;
}

footer.fixar-rodape{
	border-top: 1px solid #333;
	bottom: 10px;
	left: 0;
	height: 40px;
	position: fixed;
	width: 100%;
}

