


.CABECALHO {
    background-color:blue;
    width: 100vw;
    height: 40px;
}

.TOPO {
    /*background-color: green;*/
    top: 30px;
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.TOPO img {
    /* background-color: black;*/
    height: 50px;
    width: 200px;

}

.TOPO .MENU {
    /* background-color: ;*/
    padding: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.TOPO .MENU .BOTAO {
    height: 60px;
    width: 250px;
    background-image: url("../images/btn_2.svg");
}

.CORPO {
    background-color: white;
}

.RODAPE {
    background-color: red;
}



